services:
  mongo:
    image: mongo:7.0.28
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DB_NAME}

  api:
    build:
        context: ./llmchat
        dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    env_file:
      - .env
    command: >
      sh -c "
      python manage.py migrate &&
      gunicorn llmchat.wsgi:application --bind 0.0.0.0:8000
      "

  frontend:
    image: frontend:latest
    container_name: frontend
    build:
        context: ./frontend
        dockerfile: Dockerfile
    ports:
        - 5173:5173

volumes:
  mongo_data:

models:
  ai-model:
    model: ${AI_MODEL}